Repository digiaonline/react-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier-eslint --write "src/**/*.js", stylefmt

Fix build
  .yarnclean
Due: none

Fix tests
  package.json
  src/hello/components/Hello.test.tsx
  src/hello/components/__snapshots__/Hello.test.tsx.snap
  src/root/components/Root.test.tsx
  yarn.lock
Due: none

Fix import for css files
  config/webpack.config.dev.js
  package.json
  src/hello/components/Hello.css.d.ts
  src/hello/components/Hello.tsx
  src/index.css.d.ts
  src/index.tsx
  src/root/components/Root.css.d.ts
  src/root/components/Root.tsx
  src/styles/colors.css.d.ts
  src/styles/typography.css.d.ts
  tslint.json
  yarn.lock
Due: prettier-eslint --write "src/**/*.js"

Remove ESLint and add TSLint
  .eslintignore
  .eslintrc
  .lintstagedrc
  package.json
  src/hello/components/Hello.css
  src/hello/components/Hello.css.d.ts
  src/hello/components/Hello.test.tsx
  src/hello/components/Hello.tsx
  src/hello/store.ts
  src/index.css.d.ts
  src/index.tsx
  src/root/components/Root.css.d.ts
  src/root/components/Root.test.tsx
  src/root/components/Root.tsx
  src/styles/colors.css.d.ts
  src/styles/typography.css.d.ts
  tslint.json
  yarn.lock
Due: stylefmt

Add support for generating types for css files during build
  config/webpack.config.prod.js
Due: prettier-eslint --write "src/**/*.js"

Bump nvm-version to current LTS
  .nvmrc
Due: none

Fix version as requested.
  .nvmrc
Due: none

Update README.md
  README.md
Due: none

Update README.md (#74)
  README.md
Due: none

WIP: Add react hot loaer
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package-lock.json
  package.json
  src/index.tsx
Due: prettier-eslint --write "src/**/*.js"

Remove .yml files from .yarnclean to fix build
  .yarnclean
Due: none

Remove .yml files from .yarnclean to fix build (#78)
  .yarnclean
Due: none

Fix test coverage in CI
  .yarnclean
  README.md
  package.json
Due: none

Remove Babel and ESLint dependencies
  package-lock.json
  package.json
  yarn.lock
Due: none

Fix CSS typings in production build
  config/webpack.config.prod.js
Due: prettier-eslint --write "src/**/*.js"

Add types for Hello's props and state
  src/hello/components/Hello.tsx
  src/index.tsx
Due: none

Update docs
  README.md
  docs/03-tools.md
Due: none

Bump node-version on .nvmrc to 8.9
  .nvmrc
Due: none

Format as valid JSON
  .stylelintrc
Due: none

Fix development build and add type checking to builds
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  package.json
  yarn.lock
Due: prettier-eslint --write "src/**/*.js"

Add tslint configuration compatible prettier config
  .prettierrc.json
Due: none

Remove babel-deps, add fork-ts-checker-webpack-plugin for paraller type-checking
  package.json
  yarn.lock
Due: none

Add some paths, order alphabetically
  config/paths.js
Due: prettier-eslint --write "src/**/*.js"

Refactor path-name
  scripts/build.js
  scripts/start.js
Due: prettier-eslint --write "src/**/*.js"

Add some config, order alphabetically
  tsconfig.json
Due: none

Change pathname
  config/webpack.config.prod.js
Due: prettier-eslint --write "src/**/*.js"

Introduce ForkTsCheckerWebpackPlugin, ditch babel & eslintformatter make HMR work
  config/webpack.config.dev.js
Due: prettier-eslint --write "src/**/*.js"

Remove eslintFormatter, add ForkTsCheckerWebpackPlugin to prod also
  config/webpack.config.prod.js
Due: prettier-eslint --write "src/**/*.js"

Bump .nvmrc version to ~8.9
  .nvmrc
Due: none

Add codeclimate CLI to Travis
  .travis.yml
Due: none

Linting and testing setup ported over from Aspa. WIP.
  .lintstagedrc
  .prettierrc
  .stylelintrc
  package.json
  src/hello/components/Hello.tsx
  tsconfig.json
  tsconfig.test.json
  tslint.json
  typings.d.ts
  yarn.lock
Due: none

Copy testing setup from the Aspa project.
  config/jest/typescriptTransform.js
  config/polyfills.js
  package.json
  scripts/test.js
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write "src/**/*.js"

Make enhancements from various projects WIP.
  config/WatchTimesPlugin.js
  config/env.js
  config/polyfills.js
  config/webpack.config.dev.js
  config/webpackDevServer.config.js
  package.json
  public/index.html
  public/manifest.json
  scripts/build.js
  src/registerServiceWorker.ts
  tsconfig.json
  yarn.lock
Due: prettier-eslint --write "src/**/*.js"

Remove Webpack code splitting for now.
  config/webpack.config.dev.js
  config/webpack.config.prod.js
  public/index.html
  src/index.tsx
Due: prettier-eslint --write "src/**/*.js"

Path conditions:
  prettier-eslint --write "src/**/*.js": any of: *.js
  stylefmt: any of: *.css
